<h3 style="padding: 10px;">Cadastro de Produto</h3>

<form style="padding: 10px" #formValidate="ngForm">

  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="id">ID</label>
      <input type="text" [(ngModel)]="produto.id" class="form-control" id="id" readonly="true" name="id"
             autocomplete="false">

    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="nome">Nome</label>
      <span style="color: red; font-size: 23px;" *ngIf="nomeValidate.invalid"> *</span>
      <input type="text" [(ngModel)]="produto.nome" #nomeValidate="ngModel" class="form-control" id="nome"
             required="true" name="nome" autocomplete="false">

    </div>
  </div> 

  <div class="form-group col-md-3">
      <label for="fornecedor">Fornecedor</label>
      <span style="color: red; font-size: 23px;"> *</span>
      <select [(ngModel)] = "produto.fornecedor.id" id="fornecedor" name="fornecedor" class="form-control" required="true">
         <option [ngValue]="p.id"  *ngFor="let p of fornecedores">{{p.nome}}</option>
      </select>
    </div> 
  

 java-e-o-melhor-xw


  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="quantidade">Quantidade</label>
      <span style="color: red; font-size: 23px;" *ngIf="loginValidate.invalid"> *</span>
      <input type="text" [(ngModel)]="produto.quantidade" #loginValidate="ngModel" class="form-control" id="login"
             name="quantidade" required="true" autocomplete="false">
    </div>


    <div class="form-group col-md-6">
      <label for="lote">Lote</label>
      <span style="color: red; font-size: 23px;" *ngIf="senhaValidate.invalid"> *</span>
      <input type="lote" [(ngModel)]="produto.lote" #senhaValidate="ngModel" class="form-control" id="senha"
             name="lote" required="true" autocomplete="false">
    </div>

  </div>


   

  

     <div class="form-group col-md-3">

      <label for="valor">Valor</label>
      <span style="color: red; font-size: 23px;" > *</span>
      <input [(ngModel)]="produto.valor" class="form-control" name="valor" id="valor"
      currencyMask [options]="{prefix : 'R$', thousands: '.', decimal : ','}">
     </div>


  




  

  <div class="form-row" style="margin-top: 20px;">
    <div class="form-group col-md-6">
      <button type="button" class="btn btn-primary" [routerLink]="['/produtoList']" routerLinkActive="router-link-active">
        Voltar
      </button>
      <button type="button" class="btn btn-primary"  style="margin-left: 10px;">Novo</button>
      <button type="button" class="btn btn-primary" [disabled]="formValidate.invalid" (click)="salvarProduto()"
              style="margin-left: 10px;">Salvar
      </button>
    </div>
  </div>
</form>

